asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
cinemagoer==2023.5.1
Django==4.2.7
greenlet==3.0.1
idna==3.4
IMDbPY==2022.7.9
lxml==4.9.3
requests==2.31.0
SQLAlchemy==2.0.23
sqlparse==0.4.4
tmdbv3api==1.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
